/* Parte onde se altera o geral do site */
*{
    outline: none;
    list-style-type: none;
    text-decoration: none !important;
}
img{
    width: 100%;
}
/* Parte onde se altera o topo */
.topo{
    background: #000;
    height: 45px;
    width: 100%;
}
/* Parte onde se altera a logo */
.logo{
    width: 350px;
}
/* Parte onde se altera o menu */
nav a{
    color:#000;
}
nav a:hover{
    color:#000;
}
.lista{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 85px;
}
.menu{
    margin: 1px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.menu:active {
    box-shadow: inset -2px 2px 3px 3px rgba(0, 0, 0, 0.42);
}